body {
    background-image: url("Design\ sem\ nome.png");
    
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    text-align: center;
    background-color: rgb(232, 208, 171);
    background-size: 600px;
    width: 400px;
    height: 160px;
    border-radius: 20px;
    border-color: rgb(155, 126, 90);
    border-style: solid;
    border-width: 10px;
    width: 550px;
    display: grid;
    place-items: center;
    min-height: 70vh;
}

.button {
    padding: 15px 32px;
    border-radius: 10px;
    border-color: goldenrod;
    border-style:dashed ;
    border-width: 03px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: darkgreen;
    background-size: 125px;
}

.h1 {
    background-color: white;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    border-color: grey;
    border-style: dashed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(37, 37, 37);
}

.hr {
    border-style: solid;
    border-width: 03px;
    border-color: rgb(155, 126, 90);
}

.tip-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: olivedrab;
    width: 100px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 15px;
}

.tip-btn:not(.active):hover {
    background-color: darkolivegreen;
    border-color: darkolivegreen;
    transform: translateY(-2px);
}

.tip-btn.active {
    background-color: limegreen;
    color: white;
    border-color: green;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(46,204, 113, 0.4);
    cursor: default;
}

.input-group-valor {
    margin-bottom: 25px;
    text-align: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    background-color: #f1f3f5;
    border: 2px solid gray;
    border-radius:  50px;
    padding: 5px 20px;
    margin: 10px auto;
    max-width: 90%;
}

.currency-symbol {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    margin-right: 10px;
}

#totalConta {
    width: 100;
    border: none;
    background:rgb(37, 37, 37);
    border-radius: 40px;
    padding: 15px 0;
    font-size: 1.5rem;
    color: white;
    outline: none;
    text-align: center;
}


