* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("Design\ sem\ nome.png");
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container {
    text-align: center;
    background-color: rgb(232, 208, 171);
    background-size: 600px;
    width: 90%;
    max-width: 360px;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    border-color: rgb(155, 126, 90);
    border-style: solid;
    border-width: 10px;
    width: 550px;
    text-align: center;
    display: grid;
    place-items: center;
    min-height: 70vh;
    box-sizing: border-box;
}

.button {
    padding: 15px 32px;
    border-radius: 10px;
    border-color: goldenrod;
    border-style:dashed ;
    border-width: 03px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: darkgreen;
    background-size: 125px;
}

.h1 {
    background-color: white;
    width: 300px;
    height: 80px;
    border-radius: 20px;
    border-color: grey;
    border-style: dashed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(37, 37, 37);
}

.hr {
    border-style: solid;
    border-width: 03px;
    border-color: rgb(155, 126, 90);
}

.tip-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: olivedrab;
    width: 100px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    min-width: 80px;
}

.buttons-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.tip-btn:not(.active):hover {
    background-color: darkolivegreen;
    border-color: darkolivegreen;
    transform: translateY(-2px);
}

.tip-btn.active {
    background-color: limegreen;
    color: white;
    border-color: green;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(46,204, 113, 0.4);
    cursor: default;
}

.input-group-valor {
    margin-bottom: 25px;
    text-align: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f3f5;
    border-radius: 50px;
    padding: 5px 15px;
    width: 100%;
    margin: 15px 0;
}

.currency-symbol {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    margin-right: 8px;
    white-space: nowrap;
}

#totalConta {
    flex: 1;
    width: 100%;
    border: none;
    background:rgb(37, 37, 37);
    border-radius: 40px;
    padding: 15px 0;
    font-size: 1.5rem;
    color: white;
    outline: none;
    text-align: center;
}


